<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practiceWanderlust</title>
</head>
<body>
    <h1><%= showListing.title %> </h1>

    <ul>
        <li><%=showListing.title %></li>
        <li><%=showListing.description %></li>
        <li> &#8377 <%=showListing.price.toLocaleString("en-IN") %></li>
        <li><%=showListing.location %></li>
        <li><%=showListing.country %></li>
    </ul>
    <br><br>
    <a href="/listings/<%= showListing._id %>/edit"><button>Edit Listing</button></a><br><br>
        <form action="/listings/<%= showListing._id %>?_method=DELETE" method="post"><button>Delete Listing</button></form>

</body>
</html>